.heading{
    color: aqua;
    text-align: center;
}
.class-box{
    background-color: beige;
    text-align: left;
    align-items: left;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: blue;
}
.que{
    font-weight: bold;
    cursor: pointer;
    display: flex;
    text-align: left;
    justify-content: left;
    align-self: center;
    font-size: 20px;
}

.btn{
    align-self: last baseline;
    text-align: left;
    cursor: pointer;
}

.ans{
    margin: 15px;
    color: blueviolet;
    text-align: center;
}
